# Dependencies
node_modules
.pnpm-store

# Next.js
.next
out
dist

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build
build
coverage

# Debug
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
src/core/database/migrations/*.sql

# Playwright
playwright-report
test-results

# Misc
*.tsbuildinfo